<div class="banner-main d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>The Dive Bar</h1>
    <p>Drink with sophistication</p>
  </div>
</div>


<div class="container">
  <%# class="headline" %>
  <div class="text-center mt-5 "> 
    <h1>Your Finest Cocktails</h1>
    <%# class="add-button" %>
    <div class="a-buttons text-center">
      <%= link_to "Add a new cocktail!", new_cocktail_path  %>
    </div>
  </div>
  <div class="cocktail-list">
    <% @cocktails.each do |cocktail|%>
      <div class="cocktail-card">
        <% if cocktail.photo.attached?  %>
          <%= cl_image_tag(cocktail.photo.key, class: "cocktail-image") %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="cocktail-image" alt="...">
        <% end %>
        <div class="cocktail-card-body">
          <h3 class="cocktail-card-title"><%= link_to cocktail.name, cocktail_path(cocktail)  %></h5>
          <% cocktail.doses.each do |dose| %>
            <p class="cocktail-card-text"><%= dose.ingredient.name %>: <%= dose.description %><p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light navbar-bottom">
  <i class="fas fa-glass-martini-alt"></i>
  <a class="navbar-brand ml-2">Your Dive Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>