<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-glass-martini-alt"></i>
  <a class="navbar-brand ml-2">Your Dive Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="container">
  <div class="row m-10">
    <div class="col">
       <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
    </div>
    <div class="col">
      <h1>Add a new cocktail</h1>
  <%= simple_form_for (@cocktail) do |f| %>
    <div class="form inputs">
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%#= f.input :doses %>
      <%#= f.association :ingredients, as: :check_boxes %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-secondary" %>
    </div>
  <% end %>
  <br>
  <div class="">
    <%= link_to "Back to Menu", cocktails_path %>
  </div>
    </div>
  </div>
  
</div>