<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-glass-martini-alt"></i>
  <a class="navbar-brand ml-2">Your Dive Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container">
  <div class="row m-10">
    <div class="col">
      <% if @cocktail.photo.attached? %>
       <%= cl_image_tag(@cocktail.photo.key, class: "card-img-top w-100") %>
      <% else %>
        <div >
          <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
        </div>
      <% end %>
    </div>
    <div class="col">
      <div>
        <h1><%= @cocktail.name %><h1>
        <h3>Recipe:</h1>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name %>: <%= dose.description %></li>
          <% end %>
        </ul>
      </div>
      <hr>
      <div class="links">
        <%= link_to "Add to the recipe", new_cocktail_dose_path(@cocktail) %><br>
        <%= link_to "Remove Cocktail", cocktail_path(@cocktail), method: :delete %> <br>
        <%= link_to "Back to Menu", root_path %>
      </div>
    </div>
  </div>
</div>

